<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table,th,td{border:1px solid #cccccc}
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Mois</th>
        <th>Data</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td>Montant total</td>
        <td>200$</td>
    </tr>
    </tfoot>
</table>
<tbody>
<tr>
    <td>Juin</td>
    <td>150$</td>
</tr>
<tr>
    <td>Juillet</td>
    <td>50$</td>
</tr>
</tbody>
</body>
</html>